<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ferreapp.ferreapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SeeOrderActivity" />
        <activity android:name=".CommentsActivity" />
        <activity
            android:name=".MainProductsActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".DetailedProductActivity" />
        <activity android:name=".ShoppingCartActivity" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register" />
        <activity android:name=".Confirmar_Compra" />
        <activity android:name=".Pagos" />
        <activity android:name=".Calificar_Pedido" />
        <activity android:name=".CommentsDetails"/>
        <activity android:name=".OrderDetails"/>
    </application>

</manifest>